.donation-section {
    background: url('../images/donation.jpg.webp') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 0;
    position: relative;
  }
  .donation-section .content {
    position: relative;
    z-index: 1;
  }
  .donation-section a{
    margin: auto;
  }
  .donation-section p{
    text-align: left;
  }
  .donation-section .donation-box-r{
    height: 400px;
    width: 400px;
    border: 1px solid red;
    margin: auto !important;
  }
  .donation-section .container .row{
    gap:60px;
  }
  .donation-section .donation-box-r > div span{
    border: 1px solid red;
  }
  .button-effe{
    display: flex;
    justify-content: center;
    border: 1px solid red
  }
  .donation-section .donation-box-r .remaining-p{
    width:150px;
    text-align: right;
    padding: 0px !important;
  }
  .donation-section .centralizing{
    padding-top:40px !important;
  }