.top-bar{
  height: 40px;
  /* padding: 0px 50px 0px 50px !important; */
  background-image: url(../images/church-night-time.jpg);
  
}
.top-bar small{
  margin:0px 130px 0px 130px;
}
.top-bar i {
  margin-right: 5px;
}

.navbar{
  height: 120px;
  padding: 0 130px 0 130px !important; 
  z-index: 1; 
}
.navbar a{
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
  color: black;
}
.navbar .navbar-brand{
  font-size: 30px;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
}
.navbar .navbar-nav{
  display: flex;
  gap: 50px !important;
  font-family: 'Assistant', sans-serif;
}

.header-section {
    background-image: url('../images/churchimage.webp');
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
  }
  .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1); 
  z-index: 1;
  }
  
  .header-section h1{
    font-size: 55px;
    text-transform: uppercase;
    line-height: 1.18;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    width: 100%;
  }

  .header-section p{
    font-size: 18px;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    margin: 27px 0px 0px !important;
    padding: 0px 50px;
  }

  .header-section a{
    font-family: 'Assistant', sans-serif;
  }


  .header-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .header-section .content {
    z-index: 1;
    max-width: 1050px;
    text-align: center;
  }

  .herder-section .content a{
    background-color: #a22319;
  }

  .countdown-section {
    position: relative;
    z-index: 2;
    padding: 1rem;
  }
  
  .countdown-section section {
    position: absolute;
    top: -70px;
    left: 0;
    transform: none;
    width: 100%;
    padding: 0px 50px !important;
  }
  
  .countdown-section .container {
    height: 170px;
    background-color: rgb(240, 240, 240);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0px 70px !important;
  }

  .countdown-section .event-info{
    padding: 0px !important;
  }
  
  .countdown-section .event-info h5 {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    margin-left:40px !important;
  }
  
  .countdown-section .event-info p {
    font-family: 'Assistant', sans-serif;
    font-size: 12px;
    margin-bottom: 4px;
  }
  
  .countdown-section .date-box {
    width: 70px;
    height: 70px;
    background-color: #a22319;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .countdown-timer > div h3 {
    font-size: 40px;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 2px;
  }
  
  .countdown-timer > div small {
    font-size: 16px;
    font-family: 'Assistant', sans-serif;
    color: #898989;
  }
  
  @media (max-width: 768px) {
    .countdown-section .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center !important;
      height: auto;
      margin: 0px !important;
      padding: 0px !important;
      background-color: transparent !important;
    }
    .countdown-section .container > div:nth-child(1){
      padding-top: 40px !important;
      padding-bottom: 20px !important;
    }
    .countdown-section section {
      position: static;
      padding: 0px 50px !important;
      background-color: rgb(240, 240, 240);
    }
  
    .date-box {
      /* margin-bottom: 1rem; */
      margin: auto;
      
    }
  
    .countdown-timer {
      justify-content: center;
      margin-top: 1rem;
    }
  
    .event-info {
      padding: 0 1rem;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .countdown-section .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center !important;
      height: 380px;
      margin: 0px !important;
      padding: 0px !important;
      /* background-color: transparent !important; */
      background-color: rgb(240, 240, 240);
      gap: 15px;
      width: 600px;
    }
    .countdown-section .container > div:nth-child(1){
      padding-top: 20px !important;
      display: flex;
      flex-direction: column;
    }
    .countdown-section section {
      position: static;
      padding: 0px 50px !important;
      justify-content: center !important;
      display: flex;
      
    }
  
    .date-box {
      margin: auto;
    }
  
    .countdown-timer {
      justify-content: center;
    }
  
    .event-info {
      padding: 0 1rem;
      margin-top: 20px;
    }
  }
  
  
 

