/* Small devices (phones) */
@media (max-width: 767.98px) {
  .top-bar {
    display: hidden !important;
    position: absolute;
  }

  .navbar {
    padding: 10px 60px !important;
    text-align: center;
    background-color: white !important;
    z-index: 4;
  }
  .navbar .navbar-nav{
    gap: 5px !important;
    padding: 10px !important;
  }

  .header-section h1 {
    font-size: 28px;
  }

  .header-section p {
    font-size: 14px;
    padding: 0 20px;
  }
 
  .welcome-container {
    padding: 0 20px !important;
    margin-top: 30px !important;
  }

  #welcome-section img {
    width: 100%;
    height: auto;
  }
  #welcome-section .welcome-container .welcome-container-content .welcome-text p{
    width: 100%;
    text-align: justify;
    margin: 0px !important;
    padding: 0px !important;
  }
  #welcome-section .btn-danger {
    margin-left: 0px !important;
  }



  .donation-section {
    height: auto;
    padding: 20px;
  }

  .donation-left, .donate-box {
    width: 100% !important;
    margin: 0 auto;
  }

  .donate-box {
    height: auto;
  }

  .donate-box .donate-button {
    width: 100%;
  }
  .mission-section{
    height: 600px;
  }
  .mission-section .container-fluid {
    display: flex;
    flex-direction: column;
  }

  .br-line, .bl-line {
    border: none !important;
  }

  #event-section .event-box {
    margin-bottom: 20px;
  }

  #image-section .col-5th {
    flex: 0 0 50%;
  }
  .footer{
    height: 870px;
  }
  .footer .row{
    flex-direction: column !important;
  }
  .footer .footer-ff {
    flex-direction: column !important;
  }

  .footer-bottom {
    flex-direction: column;
    width: 100% !important;
    text-align: center;
  }

  .footer .container {
    margin-left: 20px !important;
  }
  .footer .footer-subscribe{
    width: 450px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
    padding: 10px 60px !important;
    text-align: center;
    background-color: white !important;
    z-index: 4;
  }
  .navbar .navbar-nav{
    gap: 5px !important;
    padding: 10px !important;
  }

  .welcome-container {
    padding: 0 20px !important;
    margin-top: 30px !important;
  }

  #welcome-section img {
    width: 650px !important;
    height: auto;
  }

  #welcome-section .welcome-container .welcome-container-content{
    display: flex;
    flex-direction: column;
  }

  #welcome-section .welcome-container .welcome-container-content .welcome-text p{
    width: 800px;
    text-align: justify;
    margin: 10px 50px 10px 50px !important;
    padding: 10px 50px 10px 100px !important;
  }
  #welcome-section .btn-danger {
    margin-left: 150px !important;
  }



  #event-section .container-fluid .row .col-lg-4{
    display: flex;
    justify-content: center !important;
    
  }

  #event-section .container-fluid .row .event-box{
    margin: auto;
    margin-bottom: 30px !important;
  }

  #event-section .container-fluid .row .event-box .event-img img{
    height: 350px;
    width: 650px;
  }

  #event-section .container-fluid .row .event-box .event-info{
    padding: 0px 0px 0px 20px !important;
  }


.donation-section{
    height: 900px;
}
  .donation-left, .donate-box {
    width: 100% !important;
  }

  .donate-box .donate-button {
    width: 100%;
  }

  #quote-section .background-cross {
    position: absolute;
    top: 30%;
    left: 35% !important;
  }


  #image-section .col-5th {
    flex: 0 0 33.33%;
  }

  .footer .footer-ff {
    flex-direction: column;
    gap: 30px;
  }

  .footer-bottom {
    width: 100% !important;
    text-align: center;
    flex-direction: column;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar {
    padding: 0 60px !important;
  }

  .welcome-container {
    padding: 0 60px !important;
  }

  .footer .container {
    margin-left: 60px !important;
  }

  #image-section .col-5th {
    flex: 0 0 20%;
  }
}