#sermons-section{
    background: #eeeeee;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #sermons-section h2{
    font-family: 'Assistant', sans-serif;
  } 

  #sermons-section p{
    font-family: 'Old Standard TT', serif;
  } 

#sermons-section .sermon-title {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Assistant', sans-serif;
}
/* #sermons-section .pastor {
   border: 5px solid green;
} */
/* #sermons-section .categories {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    color: #a22319;
    line-height: 5px;
} */
#sermons-section .icon-list i {
    font-size: 1.2rem;
    margin: 0 10px;
    color: #6c757d;
}

#sermons-section .icon-list{
    gap: 15px;
}

#sermons-section .card {
    border: none;
    background: #fff;
    border-radius: 0px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
}
#sermons-section .card .card-body{
    padding: 20px;
}
#sermons-section .container .bg-round{
    background-color: #eeeeee;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
}

#sermons-section .container .bg-round i{
    margin: auto;
}

#sermons-section .container .bg-round:hover{
    background-color: #d9534f;
}

#sermons-section .container .row .card .card-body .d-inline{
    /* border: 2px solid black; */
    width: min-content;
    padding: 0px !important;
    font-style: italic;
    margin: 0px !important;
    font-family: 'Old Standard TT', serif;
  }

